.products {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.products ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.products p {
  padding: 0;
  margin: 0;
}

.products strong,
p {
  text-align: left;
  font-size: 12px;
}
.products li {
  display: flex;
  flex-direction: column;
  background-color: #18181b;
  border-radius: 8px;
  padding: 4px;
  align-items: flex-start;
}
.price-and-name p {
  font-size: 16px;
  padding-left: 8px;
}
.describe-product {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0;
  align-items: center;
}

.describe-product button {
  border-radius: 50%;
  height: 42px;
  width: 42px;
  border: 2px solid #18181b;
  background-color: #18181b;
  font-size: 16px;
}
.products img {
  border-radius: 4px;
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  object-fit: cover;
  background: #fff;
}

.describe-product button:hover {
  border: 1px solids;
  border-color: #646cff;
  cursor: pointer;
}
